<app-cooptations-header></app-cooptations-header>

<div id="cooptation_container">
    <h4 class="cooptationsBar">Demande de cooptation</h4>
    <div id="admin_container">
        <div>
            <h5>Responsable du dossier</h5>
            <h6>Champ à remplir par le chargé de recrutement </h6>
        </div>
        <input>
    </div>
    <mat-tab-group dynamicHeight>
        <mat-tab label="Identité et contact">
                <app-identity-coopted-form [angForm] = "firstForm" [saveClicked]="saveClicked" (newItemEvent) = "getUplodedFile($event)" (ItemEvent) = "getCivility($event)" ></app-identity-coopted-form>
        </mat-tab>
        <mat-tab label="Information du coopté">
            <app-information-coopte-form [cooptationForm] = "secondForm" [saveClicked]="saveClicked" ></app-information-coopte-form>
        </mat-tab>
        <mat-tab label="Mon premier entretien">
                <app-first-interview-form [angForm] = "thirdForm" [saveClicked]="saveClicked"  (fieldActivitiesEvent) ="getFieldActivities($event)" (keyValuesEvent) ="getKeyValues($event)" (valuesEvent)="getValues($event)"  ></app-first-interview-form>
        </mat-tab>
    </mat-tab-group>
</div>
<div class="col-lx-6">
    <div class="card-body">
         <button type="button" class="btn" style="background-color:  rgb(15, 148, 119);color:white" (click)="open('saveModal')"  >Soumettre</button>
         <button type="button" class="btn"  style=" background: rgba(200, 200, 200, 0.651);color:white ; border-color:rgba(150, 146, 146, 0.534) ;width :200px" (click)="open('cancelModal')" >Annuler</button>
         <button type="button" class="btn" style=" background:#006dbf ;color:white ;" (click)="simpleAlert()">Enregistrer</button>
    </div>
</div>


    <ngx-alerts></ngx-alerts>

    
    
   

 








