::ng-deep .mat-input-element {
  caret-color:#006dbf !important  ; }
  
.plus{
  border-radius: 60%;
  border: none;
  background-color:rgb(15, 148, 119);
}
.dots{
  border-radius: 60%;
  border: none;
 
  background-color :#006dbf !important ;
  border-color: #006dbf!important; 
}
 .btn-success{
  background-color: rgb(15, 148, 119);
  border-color: rgb(15, 148, 119);
  height: 40px;
  top: 50%;
  left: 50%;

}
.btn-light{
  height: 40px;
  width: 40px;
  align-content: center;
}

th{  width: 350px !important;}
td{
  height: 70px;
  width: 350px !important;
}
.icon{
  margin: auto;
  position:relative;
  border-radius: 60%;
}

.icon i{
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.btn-info{
  height: 40px;
  width: 40px;
  align-content: center;
 
}
.plus{
  background-color: rgb(15, 148, 119);
  border-color: rgb(15, 148, 119);
}
.btn-icon{
background-color: rgba(128, 128, 128, 0.295);

  height:30px;
  text-align: center;
position:relative;
width: 15px;
font-size: 10px;
}


.soumettre{
  display: none;
 height:30px;
 text-align: center;
 position:relative;
 width: 15px;
 background-color: rgb(15, 148, 119);
 border-color: rgb(15, 148, 119);
 color: white !important;
}

p{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

} 

.alrt{
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert-custom {
  color: white;
  background-color: #45b96e;
  border-radius: 10px;
}
.btn-coop{
  width:110px;
  display: flex;
  justify-content:flex-end;
  align-items: flex-end;
  margin-bottom: 20px;  
  margin-top: 20px;
  
}
.btn-coop-2{
  width:100px;
  display: flex;
  justify-content:flex-end;
  align-items: flex-end;
  gap: 0.5rem;
  
}
.div-coop{
  display: flex;
  justify-content:flex-end;
  align-items: flex-end;
}
.soumettreResponsive{ height:30px;
  text-align: center;
  position:relative;
  width: 15px;
  background-color: rgb(15, 148, 119);
  border-color: rgb(15, 148, 119);
  color: white !important;
  display: block; 
  font-size: 10px;}

  @media only screen and (max-width: 1200px) {
    th{   max-width: 250px !important;
    font-size: 12px !important;}
    td{   max-width: 250px !important;
      font-size: 12px !important;}
      .mat-form-field{
        max-width: 150px !important
      }
  
  
  
  }
  @media screen and (max-width: 1024px) {
    th{   max-width: 200px !important;
      font-size: 10px !important;}
    td{   max-width: 200px !important;
      font-size: 10px !important;}
      .mat-form-field{
        max-width: 100px !important
      }
  
  }
  @media screen and (max-width: 768px) {
    th{   max-width: 140px !important;
      font-size: 11px !important;}
    td{   max-width: 140px !important;
      font-size: 11px !important;}
      .soumettre{
        display: none;
      }
      .soumettreResponsive{ 
        text-align: center;
        position:relative;
        background-color: rgb(15, 148, 119);
        border-color: rgb(15, 148, 119);
        display: block; 
        color: white !important;
        font-size: 10px;
        margin: auto;
        border-radius: 50%;
        height:30px;
        text-align: center;
        width: 15px;}
  
        .btn-icon{
          height:30px;
          text-align: center;
        position:relative;
        width: 15px;
        font-size: 10px;
        }
        .btn-coop-2{
          width:100px;
          display: flex;
          justify-content:flex-end;
          align-items: flex-end;
          gap: 0.1px;
        }
        .icon{
          margin: auto;
          position:relative;
          border-radius: 50%;
          height:30px;
          text-align: center;
          width: 15px;
        }
        
        .icon i{
          font-size: 15px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: black;
        }
        .btn-coop{
          width:50px;
          display: flex;
          justify-content:flex-end;
          align-items: flex-end;
          margin-bottom: 20px;
          
        }
        .plus{
          border-radius: 50%;
          border: none;
          background-color:rgb(15, 148, 119);
        }
        .dots{
          border-radius: 50%;
          border: none;
          background-color: #006dbf
        }
      .mat-form-field{
        max-width: 80px !important
      }
  }
  @media screen and (max-width: 425px) {
    th{  max-width: 50px !important;
      font-size: 8px !important;}
    td{  max-width: 50px !important;
      font-size: 8px !important;}
      .mat-form-field{
        max-width: 50px !important
      } 
  } 
  
  